body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.align{
    align-items: center;
}
.flex{
    display: flex;
}
.space{
    display: flex;
    justify-content: space-between;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.black{
    background-color: #24292e;
    margin-top: 0;
    width: 100vw;
    height: 4rem;
    align-items: center;
}
.left{
    width: 9em;
    margin-right: 2em;
    align-items: center;
}
svg{
    width: 1.3em;
    height: 2em;
}
#arr{
    width: 2em;
    height: 2em;
}
.round{
    width: 1.5em;
    height: 1.5em;
    background-color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.log{
    width: 43em;
    margin-left: 2em;
}
#logo{
    width: 2.5em;
    height: 2.5em;
}
input{
    border: none;
    background: none;
}
input:focus{
    outline: none;
}
::placeholder{
    color: lightgray;
    font-size: 15px;
    font-weight: 300;
}
.inp{
    border: grey 1px solid;
    justify-content: space-between;
    display: flex;
    width: 17em;
    height: 1.3em;
    align-items: center;
    padding: .3em .5em;
    border-radius: .5em;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    -ms-border-radius: .5em;
    -o-border-radius: .5em;
}
.pull{
    color: white;
    width: 20em;
    font-weight: 600;
    font-size: 15px;
}
.profile{
    width: 25em;
}
.circle{
    margin-left: 5em;
    margin-top: 5em;
    align-items: center;
    margin-bottom: 2em;
}
.button{
    width: 18em;
    height: 1em;
    margin-left: 5em;
    margin-top: 1em;
    padding: .5em;
    background-color:#fafbfc;
    border: #d8d9db 1px solid;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


.cirpics{
    width: 18em;
    height: 18em;
    /* background-color: black; */
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.sticker{
    width: 2em;
    height: 2em;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: white;
    border: #e3e6ea .2px solid;
    margin-left: -2.5em;
    margin-top: 12em;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
#sticker{
    width: 1.3em;
    height: 1.3em;
}
#username{
    font-size: 20px;
    font-weight: 400;
    color: slategray;
    margin-left: 4em;
}
.line{
    border-top: solid 1px #d8d9db;
    width: 19em;
    margin-top: 3em;
    margin-left: 5em;
}
#org{
    font-size: 17px;
    font-weight: 600;
    margin-left: 5em;
    margin-top: 1em;
    
}
#img{
    width: 3em;
    height:  3em;
    margin-left: 5em;
}
.navbar{
    margin-top: 4em;
    margin-left: em;
    border-bottom: 1px solid #d8d9db;
    padding-bottom: 1em;
    color: #232425;

}
.over{
    width: 33em;
}
.book{
    width: 9em;
    font-size: 15px;
    font-weight: 400;
}
#txt{
    margin-left: .5em;
    font-size: 14px;
}
.dark{
    border: #d8d9db 2.5px solid;
    width: 3em;
    height: 1em;
    align-items: center;
    display: flex;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.ball{
    width: 30px;
    height: 30px;
    background-color: black;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.protip{
    background-color:#f1f8fe;
    height: 4.5em;
    width: 56.5em;
    margin-left: .5em;
    color: #232425;
    padding: 1em 2em 0;
    margin-top: 2em;
    border: 1px solid #d8d9db;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
#pro{
    width: 50em;
    font-size: 13.5px;
}
.cross{
    margin-top: -.5em;
}
#tip{
    font-weight: 600;
    font-size: 14px;
}
.edit{
    background-color: forestgreen;
    border: 1px solid #d8d9db;
    width: 8em;
    padding: .6em 0;
    height: 1em;
    color: white;
    font-size: 13px;
    display: flex;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.cust{
    width: 61em;
    margin-top: 2em;
}
#popular{
    font-size: 16px;
    font-weight: 400;
    margin-left: .5em;

}
#robot,#ruby{
    font-size: 12px;
    color: gray;
}
#custome{
    font-size: 12px;
    color: gray;
}
#pack{
    width: 1em;
    height: 1em;
}
.wid{
    width: 60.5em;
    margin-left: .5em;
}
.dro{
    width: 28.5em;
    border-radius: 5px;
    height: 5em;
    border: 1px solid #d8d9db;
    padding: .5em .5em;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}
.small{
    margin-top: 1em;
}
#git{
    color: blue;
    font-weight: 600;
}
.dot,.dot1,.dot2{
    width: .7em;
    height: .7em;
    background-color: #e34c26;
    margin-right: .3em;
    border-radius:50% ;
    -webkit-border-radius:50% ;
    -moz-border-radius:50% ;
    -ms-border-radius:50% ;
    -o-border-radius:50% ;
}

.dot1{
    background-color: #563d7c;
}
.dot2{
    background-color: #701516;
}
.repo{
    flex-direction: column;
}
#shot{
    margin-top: 2em;
}
.wide{
    width: 60.5em;
    margin-left: .5em;
}
.year{
    height: 2.5em;
    width: 8em;
    background-color: blue;
    color: white;
    font-size: 12px;
    padding: .2em 1em;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.date{
    margin-top: 1em;
    margin-left: 1em;
}
.dec{
    font-size: 13px;
    font-weight: 500;
}
.longline{
    width: 44em;
    border-top: 1px solid #d8d9db;
    margin-left: 1em;
}
.table{
    border-left: #d8d9db solid 1.4px;
    height: 28em;
}
.opor{
    margin-left: 2em;
    margin-top: 1em;
}
.cover{
    width: 2.7em;
    height: 2.7em;
    /* padding: .1em; */
    border-radius: 50px;
    background-color: white;
}
.egg{
    width: 2em;
    height: 2em;
    background-color: lightgray;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.commi{
    width: 50em;
    margin-left: -1em;
    margin-top: 3em;
}
.col{
    flex-direction: column;
    height: 3em;
    justify-content: space-between;
}
.end{
    align-items: flex-end;
}
.tick{
    height: .6em;
    width: 12em;
    border-radius: 50px;
    background-color: green;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
#link{
    font-size: 12px;
}
#comnum{
    font-size: 17px;

}
a{
    color: blue;
    font-size: 14px;
    margin-right: 1em;
    
}.ht{
    height: 4em;
    width: 4em;
    align-items: flex-end;
}
.ball2{
    width: .8em;
    height: .8em;
    background-color: red;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
#ht, .day{
    font-size: 12px;
    color: gray;
}
.com{
    margin-top: 3em;
}
.code{
    flex-direction: column;
    margin-top: 1em;
    height: 3em;
}
.box{
    border: 1px solid #d8d9db;
    height: 8em;
    width: 47em;
    margin-left: 2em;
    margin-bottom: 3em;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
.group{
    width: 7em;
    height: 7em;
}
#vil{
    font-size: 20px;
    font-weight: 600;
}
#haven{
    font-size: 13px;
    color: grey;
}
.show{
    width: 58em;
    height: 2.5em;
    border: 1px solid #d8d9db;
    margin-bottom: 2em;
    margin-left: 1em;
    font-size: 13px;
    font-weight: 500;
    color: blue;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
.sometin,.ref{
    font-size: 12px;
    color: gray;
    margin-bottom: 5em;
    margin-left: 1em;
}
.ref{
    color: blue;
    margin-left: 0;
}
.inc{
    width: 9em;
}
#tems{
    color: gray;
    font-size: 12px;
}
#tem{
    color: blue;
    font-size: 12px;
}
footer{
    width: 85em;
    height: 7em;
    border-top: 1px solid #d8d9db;
    margin-left: 3em;
}
.footer,.button,svg,.box,.edit,.edir,.year,.ball,.dot,#txt,.repo,img,a:hover{
    cursor: pointer;
}
